{% extends "shop/base.html" %}
{% load static %}
{% block title %}
  دوبیچو چیست؟
{% endblock %}
{% block content %}
<center>
  <div class="aboutus">
    <div class="aboutushead">
      <div class="aboutusheadtext">
             <img src="{% static 'image/aa.jpg'%}" >
        <h1>مجموعه تولیدی چکاوک </h1>
        <h3>مجموعه تولیدی چکاوک در سال ۹۸ با رویکرد استفاده از ظرفیت های بومی به جهت پاسخگویی به نیازهای بهداشتی  با استفاده از متخصصان و کارشناسان متعهد ایرانی با ایجاد نوآوری در تولید و بسته بندی همراه با رعایت استانداردهای داخلی و بین المللی و با برخورداری از تجهیزات و ماشین آلات مدرن و همینطور با کیفیت ترین مواد اولیه اقدام به تولید یکی از بهترین محصولات بهداشتی با نام تجاری چکاوک کرده است و با کنترل کیفی مداوم و مناسب اثربخشی محصولات و قابل رقابت بودن آنها با برندهای خارجی را تضمین می نماید.
شرکت از سال ۹۹ با پیش بینی طرح توسعه و افزایش سطح کمی و کیفی در جهت تولید خودتراش های دو، سه و چهار لبه و پیش بینی نیازهای آینده بازار مصرف، به خرید و ساخت سوله و ساختمان های مرتبط، در راستای راه اندازی سایت تولید اقدام نموده است.</h3>
      </div>

  
    </div>
    <div class="aboutusfoot">
      <h3>محصولات خودتراش چکاوک کاملا دقیق مهندسی شده و با زاویه و حالتی مناسب بر روی پلتفرم تیغه ها قرار گرفته اند.
  فاصله بین تیغ ها اگر کم باشد مو در بین تیغ گیر می‌کند و اگر زیاد باشد فشار وارد بر تیغ ها زیاد تر شده که در نهایت باعث التهاب و حساس شدن پوست میشود، بنابراین تیغه‌های  چکاوک با بررسی این نکات بهترین حالت را برای لبه ی تیغ هایش انتخاب نموده است.
  این مجموعه با آگاهی از قضاوت  بازار، جلب اعتماد و رضایت مشتریان آمادگی خود را برای حضور فعال و موفق در بازارهای داخلی و نیز ایجاد جایگاه ویژه در سهم صادراتی کالاهای ایرانی در بازارهای جهانی اعلام نموده است.</h3>

    </div>

  </div>
</center>

{% endblock %}
